GOOGLE_SERVICE_ACCOUNT_KEY={"type": "service_account","project_id": "round-water-379507","private_key_id": "056cec3e22999393a8e8f12da329d043ef0b9346","private_key": "-----BEGIN PRIVATE KEY-----\nINSERT THE PRIVATE KEY HERE\n-----END PRIVATE KEY-----\n","client_email": "googlesheet@round-water-379507.iam.gserviceaccount.com","client_id": "105843877454406494004","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/googlesheet%40round-water-379507.iam.gserviceaccount.com","universe_domain": "googleapis.com"}
GOOGLE_SHEETS_SCOPE=https://www.googleapis.com/auth/spreadsheets



